/* hexcodes for testing, maybe the pallette to use. */
/* #000000
#051427
#530f1e
#a44322
#f8bc04 */

* {
    font-family: "Playfair display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#051427 0%, #530f1e 100%);
}

.navbar {
    background-color: #051427;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-card {
    font-size: 24px;
    padding: 8px;
    background-color: #a44322;
    transition: transform 0.2s;
    background-blend-mode: lighten;
    border-radius: 10px;
    border-color: #a44322;
    box-shadow: #530f1e;
    width: 33%;
    color: whitesmoke;
    justify-content: center;
}

.navbar-card:hover {
    transform: scale(1.2);
}

.Footer {
    height: 100px;
    background: inherit;
    margin-top: auto;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

@media (max-width: 750px){
    .navbar-card{
        width: 40%;
        font-size: 16px;
    }
}

@media (max-width: 435px){
    .navbar-card{
        width: 40%;
        font-size: 12px;
    }
}