/* hexcodes for testing, maybe the pallette to use. */
/* #000000
#051427
#530f1e
#a44322
#f8bc04 */


* {
 font-family: "Playfair display", serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
}

body {
    margin: 0px;
    background-image: linear-gradient(#051427 0%, #530f1e 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    height: 100%;
}

.navbar {
    background-color: #051427;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.navbar-card {
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    transition: transform 0.2s;
}

.navbar-card:hover {
    transform: scale(1.2);
}