.InputField {
    width: 50%;

}

.InputLabel {
    font-size:  24px;
    color: whitesmoke;
}

#CreationForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit {
    display: flex;
    font-size: 24px;
    padding: 8px;
    background-color: #a44322;
    transition: transform 0.2s;
    border-radius: 10px;
    border-color: #a44322;
    width: 15%;
    color: whitesmoke;
    justify-content: center;
}

#submit:hover {
    transform: scale(1.2);
}
